.icon-star{
    color: rgb(20, 19, 18);
    fill: orange;
}

img {
    width: 120px;
    height: 120px;
}

svg {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.row{
    padding-top: 15px;
}

